.modelMenu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

.modelMenu::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(0, 0, 0, 0.7);
}
.list_info_key {
  font-weight: 600;
  font-size: 1em;
}
.list_info_value {
  font-size: 1em;
}
.list_info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
